section {
    &.products {
      width: 100dvw;
      display: flex;
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      // align-items: center;

      .container {
        display: flex;
        ul {
          &.list_products {
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 1rem;
  
            li {
              &.product-card {
                h3 {
                  font-size: 1.2rem;
                  font-weight: 600;
                }
                p {
                  margin: 0.5rem 0;
                  font-size: 0.9rem;
                }
                display: flex;
                flex-direction: column;
  
                .footer-product {
                  display: flex;
                  justify-content: space-between;
  
                  .items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
  
                    span {
                      &.value {
                        font-weight: 600;
                        font-size: 1.2rem;
  
                        .symbol {
                          font-size: 0.75rem;
                          vertical-align: super;
                        }
                      }
  
                      &.legend {
                        font-size: 0.75rem;
                        color: #666;
                      }
                    }
                  }
                }
  
  
              }
            }
          }
        }

        aside {
          width: calc(30% - 2rem);
          margin: 1rem;
          background-color: #f4f4f4;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          padding: 1rem;
          min-height: calc(100dvh - 10rem - 60px);
        }
      }
      
      form {
        display: flex;  
        width: 100dvw;
        margin: 2rem 0;

        .form-group {
          margin: 0 .5rem;

          .error-message {
            font-size: 11px;
            color: red
          }

          &.price-group {
            width: 100px;
          }
        }

        .btn-primary {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
    }


}


:host ::ng-deep .price-field .p-inputnumber-input {
  width: 100px !important;
}